<!DOCTYPE html>
<html lang="en">

<head>
	<title>UCSB ASK</title>
	{{> style}}
	<script src="server.js"></script>
</head>

<body>
	{{> header}}
	<section id="cover-photo">
		<div class="container-fluid hero">
			<div class="row">
				<div class="col-xs-12 hero-text">
					<h1 id="theta-tau">UCSB ASK</h1>
					<p>Professional Womens STEM Sorority</p>
				</div>
			</div>
		</div>
	</section>
	{{> footer}}
</body>
</html>